body{
	height: 100%;
	font-family: arial, sans-serif;
	background: #ddd;
}

p {
	margin: 10px 10px 10px 10px;
}

#wrapper {
	/*background: rgba(73, 122, 169, 0.9);*/
	/*background: #fff;*/
	/*background: rgba(230,230,230,0.8);*/
	position: absolute;
	top: 0;
	width: 700px;
	left: 50%;
	/*bottom: 0;*/
	margin-left: -350px;
	/*text-align: center;*/
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 45px;
	margin: 35px 0 10px 0;
	display: block;
	text-align: center;
}

#setupForms {
	position: relative;

}

.configBox{
	position: absolute;
	z-index: 4;
	top: 0;
	display: block;
	/*background: rgba(255,255,255,0.3);*/
	background: #E7E7E7;
	margin-top: 10px;
	/*padding: 10px 10px 10px 10px;*/
	opacity: 1;
	transition: 0.5s;
	pointer-events: auto;
}

.configBoxContainer {
	position: relative;
	width: 100%;
}

.collapsed {
	height: 30px !important;
	overflow:hidden;
	transition: 0.5s;
}

.futureStep {
	opacity: 0;
	top: 80px;
	pointer-events: none;
}

.pastStep {
	opacity: 0.1;
	top: -40px;
}

#database {
	height: 310px;
}

#mail {
	height: 340px;
}

#user {
	height: 290px;
}

#user {

}

.title {
	font-size: 20px;
	margin-bottom: 10px;
	color: #070E14;
	display:block;
	padding: 5px 10px 5px 10px;
	background: rgba(255,255,255,0.9);
	text-decoration: none;
	transition: 0.5s;
}

.next:hover{
	background: rgba(73, 122, 169, 0.8);
}

.subTitle {
	font-size: 15px;
	color: rgb(50,50,50);
	transition: 0.5s;
}

.subError {
	color: rgb(197, 40, 40);
}

.next {
	display: inline-block;
	background: #fff;
	color: #000;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
	margin: 0 10px 10px 10px;
	transition: 0.5s;
}

form {
	padding: 0 10px 0 10px;
}

td {
	padding: 10px 3px 10px 3px;
}

@keyframes pBar{
	0%{ margin-top: -30px; opacity: 0;}
	100%{ margin-top: 0px; opacity: 1;}
}

.progress{
	position: relative;
	z-index: 5;
	text-align: center;
	color: #444444;
	font-size: 14px;
	/*padding: 8px 0 8px 0;*/
	height: 30px;
	line-height: 30px;
	animation: pBar 0.5s;
	opacity: 1;
	display: block;
	transition: 0.5s;
}

#progress {
	display: block;
	height: 30px;
	z-index: 5;
	/*margin-bottom: 10px;*/
}

#progressNumber {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	width: 100%;
	/*background: #9aff0f;*/
	z-index: 3;
	text-align: center;
	color: #444444;
	font-size: 14px;
}

#progressBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 0;
	background: #9aff0f;
	z-index: 0;
	transition: 0.5s;
}

#progressunder {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
	/*background: rgba(255,255,255,0.5);*/
	background: #EEEEEE;
	z-index: -1;
}

#status {
	margin-top: 20px;
}

#info {
	margin-top: 30px;
}

.space {
	padding-top:30px;
}

/*- Spinner --------------------------*/
#loading {
	width: 100%;
	width: calc(100% - 40px);
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center;
	padding: 6px 0 4px 0;
}

@keyframes dott{
	0% {top: 50px; opacity: 0;}
	35% {top: 0; opacity: 1;}
	65% {top: 0; opacity: 1;}
	100% {top: 50px; opacity: 0;}
}

@-webkit-keyframes dott{
	0% {top: 50px; opacity: 0;}
	35% {top: 0; opacity: 1;}
	65% {top: 0; opacity: 1;}
	100% {top: 50px; opacity: 0;}
}

.dott {
	width: 10px;
	height: 10px;
	border: solid 2px #222;
	background: #fff;
	display: inline-block;
	border-radius: 8px 8px 8px 8px;
	position: relative;
	top: 30px;
	margin: 0 2px 0 2px;
	transition: 0.5s;
	animation: dott 2.5s ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation: dott 2.5s ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

#en {animation-delay: 0; -webkit-animation-delay: 0s;}
#to {animation-delay: 0.2s; -webkit-animation-delay: 0.2s;}
#tr {animation-delay: 0.4s; -webkit-animation-delay: 0.4s;}
#fi {animation-delay: 0.6s; -webkit-animation-delay: 0.6s;}
#fe {animation-delay: 0.8s; -webkit-animation-delay: 0.8s;}

/*- end ----------------------------*/