
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/*- End imports -----------------------*/

/*- Reset ---------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*- End -------------------------------*/

/*- Colors ----------------------------*/
/*
	//Global
	Blue: #4276A8, rgb(66, 118, 168)
	Warning Red: #C52828, rgb(197, 40, 40)
		- Darker variant: #801A1A, rgb(128, 26, 26)

	Wanted Green: #6FC528, rgb(111, 197, 40)
		- Darker variant: #48801A, rgb(72, 128, 26)

	Text on white: #222, rgb(34, 34, 34)
	Hover text on white: #000, rgb(0, 0, 0)

	Text on black: #ddd, rgb(221, 221, 221)
	Hover text on black: #fff, rgb(255, 255, 255)

	//Sidebar
	Transparent black: rgba(34, 34, 34, 0.8)

	Lines + text: #fff, rgb(255, 255, 255)

*/
/*- End -------------------------------*/

/*- Global ----------------------------*/

/*html { height: 100%; }*/

body {
	/*height: 100%;*/
	background: #ddd;
	color: #222;

	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;

	line-height: 20px;
}

h1 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin: 15px 0 5px 0;
	color: #000;
}

h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 35px;
	margin: 10px 0 5px 0;
	color: #000;
}

h3 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 400;
	line-height: 35px;
	margin: 10px 0 5px 0;
}

h4 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin: 10px 0 5px 0;
	line-height: 25px;;
	color: #333;
}

h5 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: -3px 0 5px 0;
	line-height: 20px;;
	color: #555;
}

p {
	margin: 0 0 10px 0;
}

/*- End -------------------------------*/

/*- Sidebar ---------------------------*/

#sidebar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	padding: 20px 10px 0 10px;

	text-align: center;
	background: #4276A8;
	color: #fff;
}

#beside {
	margin-left: 250px;
	margin-right: 10px;
}

/*- Sidebar -- user -------------------*/

#userAvatarEnc {
	display: block;
	height: 80px;
	width: 80px;
	margin: 0 auto 10px auto;

	background: #222;
	border: solid 4px #fff;
	border-radius: 44px 44px 44px 44px;
	overflow: hidden;
}

#userAvatar {
	background-size: cover;
	height: 80px;
	width: 80px;
	border-radius: 40px 40px 0 0;
}

/*- Sidebar -- container --------------*/

.side-cont {
	margin-top: 30px;
	border: solid 1px #000;
	border-left: none;
	border-right: none;
}

.side-cont:nth-of-type(2){
	margin-top: 5px;
	border-top: none;
}

.side-cont-title {
	display: block;
	margin: -18px 0 5px 0;

	color: #111;
	font-size: 15px;
}

/*- Sidebar -- buttons ----------------*/

.side-btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	display: inline-block;
	width: 100%;
	margin: 0 0 7px 0;
	padding: 2px 0 2px 0;
	position: relative;
	top: 0;

	background: rgba(34,34,34,0.8);
	color: #fff;
	box-shadow: 0 3px 0 -2px rgba(255,255,255,0),
				0 7px 0 -5px rgba(255,255,255,0);

	text-decoration: none;
	font-size: 14px;

	transition: 0.5s;
}

.side-btn:hover {
	background: rgba(34,34,34,1);
	box-shadow: 0 3px 0 -2px rgba(255,255,255,1),
				0 7px 0 -5px rgba(255,255,255,0.8);
}

.side-btn:active {
	top: 2px;
	box-shadow: 0 3px 0 -2px rgba(255,255,255,0),
				0 7px 0 -5px rgba(255,255,255,0);
}

/*- End -------------------------------*/

/*- Buttons ---------------------------*/

button {
	min-width: 100px;
	margin: 0 5px 8px 0;
	padding: 5px 10px 5px 10px;
	position: relative;
	top: 0;

	background: #efefef;
	color: #4276A8;
	box-shadow: 0 4px 0 -2px #ccc;
	/*text-shadow: 0 0 20px #000;*/

	border: none;

	transition: 0.2s;
}

button:hover {
	background: #fff;
}

button:active {
	top: 2px;
	box-shadow: 0 2px 0 -2px #ccc;
}

.btn-warning{
	color: #C52828;
}

.btn-warning:hover {
	color: #fff;
	background: #C52828;
	box-shadow: 0 4px 0 -2px #801A1A;
}

.btn-warning:active {
	top: 2px;
	box-shadow: 0 2px 0 -2px #801A1A;
}

.btn-wanted {
	color: #48801A;
}

.btn-wanted:hover {
	color: #fff;
	background: #6FC528;
	box-shadow: 0 4px 0 -2px #48801A;
}

.btn-wanted:active {
	box-shadow: 0 2px 0 -2px #48801A;
}

/*- End -------------------------------*/

/*- Form elements ---------------------*/

input,
textarea,
select{
	margin: 2px 5px 10px 2px;
	box-shadow: 0 0 0 2px rgba(34, 34, 34, 0.2);
	border: solid 1px #aaa;
}

input,
textarea {
	padding: 3px 3px 3px 3px;
}

label {
	color: #333;
	display: block;
}

/*- End -------------------------------*/

/*- OLD -------------------------------*/

/*--------------album box----------------*/
.album-box {
	width: 200px;
	height: 300px;
	display: inline-block;
	margin: 0 5px 15px 5px;
}

.box-pad {
	padding-top: 230px;
}

.box-title {
	display: block;
	color: #fff;
	text-align: center;
	height: 51px;
	line-height: 70px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
	transition: 0.5s;
}

.box-title:hover {
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);*/
	text-shadow: 0 0 2px #fff;
}

.box-year {
	display: block;
	color: #e8e8e8;
	background: rgba(0,0,0,0.65);
	text-align: center;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	margin-top: 1px;
}

/*--------------nytt album----------------*/

.naBtn {
	background: #eee;
	color: #3362bc;
	display: inline-block;
	width: 100px;
	text-align: center;
	padding: 7px 5px 7px 5px;
	box-shadow: 0 2px 0 0 #ccc;
	transition: 0.5s;
}

.naBtn:hover{
	background: #fff;
	color: #3581dd;
}

.naStep {
	height: auto;
	transition: 1s;
	overflow: hidden;
	padding: 0 10px 15px 10px;
	/*margin-bottom: 15px;*/
	/*background: #efefef;*/
}

.naStepMin {
	height: 19px !important;
}

.naStepTitle {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display: block;
	width: 100%;
	background: #f0f0f0;
	position: relative;
	left: -10px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	color: #222;
	box-shadow: 0 2px 0 0 #ccc;
	transition: 0.5s;
}

.naStepTitle:hover{
	background: #fff;
}

.naStepTitle i {
	font-size: 12px;
	position: relative;
	bottom: 2px;
}

#naAbout {
	height: 140px;
	transition: 0.5s;
}

#naAlbNameContainer {
	display: block;
}

#albumNavn{

	/*display: block;*/

	/*width: 100%;
	width: calc(100% - 11px);*/
}

.naAlbumName {
	font-size: 16px;
	width: 280px;
	padding: 3px 5px 2px 5px;
	margin-bottom: 5px;
	display: inline-block;
	border: none;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
	transition: 0.5s;
}

.naAlbumNameError {
	box-shadow: 0 0 0 2px rgba(197,40,40,0.5);;

}

#naAlbNameCount {
	display: inline-block;
}

#naAlbNameStatus {

}

#albumYear {
	width: 50px;
	text-align: center;
	margin-bottom: 7px;
	font-size: 16px;
	padding: 3px 2px 2px 2px;
	border: none;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
	display: inline-block;
}

#naAlbYearStatus {
	display: inline-block;
}

.naError {
	color: #c52828;
}

.naCorrect {
	color: #45be09;
}

#basicInfo label {
	/*margin-right: 5px;*/
	display: inline-block;
	margin-bottom: 13px;
}

#omAlbum div form label {
	position: relative;
	top: 2px;
}

#nAsave {
	color: #333;
	border: solid 1px #999;
	display: inline-block;
	padding: 3px 15px 3px 15px;
	background: #eee;
	transition: 0.5s;
}

#aNsave:hover {
	background: #497AA9;
}

#nameError,
#yearError {
	display: inline-block;
	color: #c52828;
	margin-left: 5px;
}

#omAlbum select {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

#nAcover label {
	display: inline-block;
	margin-bottom: 3px;
}

/*--------------last opp----------------*/

#uplWrapper {
	margin: 70px 10px 10px 510px;
}

#uplPad {
	margin-top: -20px
}

#sti {
	/*visibility: hidden;*/
}

#filedrag
{
	display: none;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-align: center;
	width: 100%;
	width: calc(100% - 10px);
	/*padding-top: 130px;
	height: 146px;*/
	/*line-height: 300px;*/
	padding: 50px 0 55px 0;
	margin: 0 auto 0 auto;
	color: #555;
	border: 5px dashed #555;
	transition: 0.5s;
}

#filedrag:hover {
	color: #f00;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
}

img
{
	max-width: 100%;
}

.img {
	display: inline-block;
	/*padding: 150px 0 0 0;*/
	color: #fff;
	width: 180px;
	height: 180px;
	/*height: 30px;*/
	background-color: #415f83;
	margin: 0 2px 2px 2px;
	/*text-align: center;*/
	vertical-align: top;
	position: relative;
}

.img span {
	position: absolute;
	bottom: 5px;
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.2);
	text-align: center;
}

.imgError {
	/*line-height: 180px;*/
	padding: 65px 0 0 0;
	color: #aa3037;
	display: inline-block;
	width: 167px;
	height: 102px;
	/*background-color: #ddd;*/
	border: solid 7px #aa3037;
	margin: 0 2px 0 2px;
	text-align: center;
	line-height: 1.2em;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	/*background: #eee url("../filedrag/progress.png") 100% 0 repeat-y;*/
	/*background: #0c0;*/
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}

/*--------------album----------------*/

#cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
}

#title {
	padding: 50px 15px 10px 15px;
	position: fixed;
	bottom: 30px;
	width: 100%;
	width: calc(100% - 30px);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	color: #fff;
}

#title #name {
	font-size: 45px;
}

#title .rot {
	color: #e8e8e8;
	margin-left: 10px;
}

#inAlbum {
	display: inline-block;
	/*float: right;*/
	position: absolute;
	bottom: 15px;
	right: 20px;
}

.user {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-left: 10px;
	border: solid 2px #fff;
	border-radius: 50px 50px 50px 50px;
	opacity: 0.9;
	/*position: relative;
	top: 5px;*/
}

.user:hover {
	opacity: 1;
}

#page {
	display: block;
	width: 100%;
	width: calc(100% - 100px);
	/*height: 100%;*/
	padding: 50px 50px 50px 50px;
	top: 100%;
	background: #ddd;
	position: absolute;
	z-index: 1;
	/*opacity: 0.7;*/
	/*box-shadow: 0 0 50px 0 #fff;*/
	overflow: hidden;
}

#albDescription {
	display: block;
	background: #fff;
	padding: 10px 20px 20px 20px;
	line-height: 20px;
	margin-bottom: 20px;
}

/*--------------page----------------*/

#photos {
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	line-height: 50px;
}

#photos img {
	width: 100%;
	height: auto;
}

/*--------------toolbar----------------*/

#extras {
	position: fixed;
	left: 0px;
	top: 10px;
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	padding: 5px 0 8px 15px;
	background: rgba(73, 122, 169, 0);
	width: 40px;
	overflow: hidden;
	display: block;
	transition: 0.7s;
	text-align: center;
}

.showBar {
	width: 100% !important;
	width: calc(100% - 15px) !important;
	background: rgba(73, 122, 169, 0.8) !important;
	color: #fff;
}

#toggle {
	color: rgb(73, 122, 169);
	opacity: 0.9;
	transition: 0.5s;
	position: absolute;
	left: 15px;
}

#toggle:hover {
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.3);*/
	opacity: 1;
}

#extras .on {
	color: #fff;
	transition: 0.3s;
}